.offices {
    margin-bottom: 40px;
    .office-address-row {
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
        @media (max-width: ($bp-md - 1)) {
            flex-direction: column;
        }
        > div {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            
            @media (min-width: $bp-md) {
                margin-top: 30px;
                width: 33.33333333%;
            }
        }
    }
    .office-list {
        margin-top: 20px;
    }
    .office-address {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        border-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        overflow: hidden;
        border: 1px solid #ccc;
        box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
        @media (max-width: ($bp-md - 1)) {
            margin-bottom: 30px;
        }
        img {
            max-width: 100%;
            width: 100%;
            height: auto;
            vertical-align: middle;
        }
        .content {
            padding: 30px;
            text-align: left;
            display: flex;
            height: 100%;
            flex-direction: column;
            // line-height: 1.42857143;

            h2 {
                font-size: 1.25rem;
                margin-top: 0;
                margin-bottom: 15px;
                font-weight: 400;
                line-height: 1.1;
                a {
                    color: $brand-light;
                }
            }
            address{
                font-style: normal;
            }
            .address {
                font-size: .8125rem;
                line-height: 1.375rem;
                font-weight: 400;
                margin-bottom: 15px;
            }
            .phone {
                margin-top: auto;
                a {
                    font-size: 1.625rem;
                    font-weight: 700;
                    color: $web;
                }
            }
            .btn--web {
                margin-top: 15px;
                font-size: .9em;
                padding: 5px 30px;
                border: 1px solid $web;
            }
        }
    }
}

.contact-info {
    p {
        margin-top: 0;
    }
    strong, a {
        font-weight: 600;
        color: $brand-light;
    }
    .text-web {
        font-weight: 600;
        color: $web;
        font-size: 1.625rem;
    }
    .out-of-hours {
        margin-bottom: 25px;
    }
}

.bottom {
    padding-bottom: 50px;
}

#contact-form {
    background-color: #e6e7e9;
    border-radius: 10px;
    padding: 30px;

    .recaptcha-terms {
        color: #333645;
        font-size: 11px;
        font-weight: 600;
        margin-bottom: 30px;
        margin-top: -10px;

        a {
            text-decoration: underline;
            color: $brand-light;
            &:hover {
                color: #121419;
            }
        }
    }
}
.flash-message, .form-error, .form-success {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;

    .close {
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .2;
    }
}
.form-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.form-success {
    color: #fff;
    background: #2ecc71;
    border-color: #d6e9c6;
}
.form-group {
    margin-bottom: 15px;
}
label {
    font-weight: 600;
    color: $brand-light;
    display: inline-block;
    margin-bottom: 5px;
    a {
        color: $brand-light;
        text-decoration: underline;
    }
    &.required::after, .required:after {
        content: " *";
        color: #d24d57;
    }
    &.pretty-checkbox {
        line-height: 32px;
        cursor: pointer;
        .button {
            border-radius: 3px;
            border: 3px solid #333645;
            height: 32px;
            width: 32px;
            position: relative;
            float: left;
            margin-right: 20px;
            span {
                display: none;
                line-height: 26px;
                text-align: center;
                font-size: 22px;
                border-radius: 50%;
            }
            [type=checkbox] {
                display: none;
            }
        }
        &.active {
            .button {
                background-color: $brand-light;
                span {
                    font-family: Material-Design-Icons;
                    color: #fff;
                    display: block;
                    &::before {
                        content: "\E623";
                    }
                }
            }
        }
    }
}
.media:first-child {
    margin-top: 0;
}
.checkbox-left {
    padding-right: 0;
}
.media-body, .media-left {
    display: table-cell;
    vertical-align: top;
}
.form-control {
    width: 100%;
    height: 47px;
    padding: 5px 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    &:focus {
        border-color: #5bc0de;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(91, 192, 222, .6);
    }
    &.has-error {
        border-color: #d64541;
    }
}
textarea#message {
    min-height: 100px;
    height: 100px;
}
.action-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .btn {
        height: auto;
        line-height: 35px;
        padding: 5px 15px;
        text-transform: uppercase;
        font-size: 1.063rem;
        border-radius: 3px;
        white-space: normal;
    }

    .btn-primary {
        background-color: #333645;
        border: 1px solid #333645;
        &:hover {
            background-color: #22242e;
            border-color: #191a22;
        }
    }
}
.helper-text {
    color: $brand-light;
}
.text-danger {
    color: #a94442;
}

@media (min-width: $bp-md) {
    .contact-form {
        .row {
            display: flex;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px; 

            .form-group {
                width: 50%;
                padding-left: 15px;
                padding-right: 15px;
            }
            
        }
    }
}

@media (min-width: $bp-lg) {
    .bottom {
        .row {
            margin-left: -15px;
            margin-right: -15px;
            display: flex;
            flex-wrap: wrap;

            .contact-info, .contact-form {
                padding-left: 15px;
                padding-right: 15px;
            }
            .contact-info {
                position: relative;
                left: 66.6666%;
                width: 33.3333%;
            }
            .contact-form {
                position: relative;
                right: 33.3333%;
                width: 66.6666%;
            }
        }
    }
}