.main-header {
  padding-bottom: 20px;
  padding-top: 20px;

  .row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
  }

  &__logo {
    img {
      max-width: 100%;
      
      @media (min-width: $bp-sm) {
        width: 345px;
      }
      @media (min-width: $bp-md) {
        width: 375px;
      }
      @media (min-width: $bp-lg) {
        width: 370px;
      }
    }
  }

  &__nav-container {
    display: flex;
    align-items: center;
    gap: 20px;

    > .hidden-sm {
      @media (max-width: $bp-md) {
        display: none;
      }
      .fa-computer-mouse {
        margin-right: 5px;
      }
    }
  }

  .search-form {
    display: flex;
    &__search-input {
      background-color: #fff;
      height: 56px;
      padding: 5px 15px;
      margin: 0;
      font-size: 14px;
      outline: 1px solid hsla(0, 0%, 100%, 0.2);
      border: 1px solid #e5e5e5;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

      @media (min-width: $bp-sm) {
        width: 174px;
      }
      @media (min-width: $bp-md) {
        display: none;
      }
      @media (min-width: $bp-lg) {
        display: initial;
        width: 240px;
      }

      &:focus {
        border-color: #5bc0de;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 
                    0 0 8px rgba(91, 192, 222, .6);
      }
    }

    @media (max-width: $bp-sm) {
      display: none;
    }
    &__search-btn {
      outline: 0;
      width: 63px;

      @media (max-width: $bp-md) or (min-width: $bp-lg) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
  .btn {
    height: 56px;
    line-height: 46px;
    font-size: 1.125rem;
    i {
      font-size: 1.3rem;
    }
  }
  .btn--hamburger {
    background-color: $brand-light;
    padding: 5px 15px;
    >span {
      display: block;
      background-color: #fff;
      height: 4px;
      width: 33px;
  
      &::before,
      &::after {
        content: "";
        display: block;
        background-color: #fff;
        position: relative;
        height: 4px;
      }
      &::before {
        top: -10px;
      }
  
      &::after {
        bottom: -6px;
      }
    }
    &:hover {
      background-color: $brand-dark;
    }
  }
}
.call-btn {
  font-size: 32px;
  display: inline-block;
  color: $brand-light;
  &:hover {
    color: $brand-dark;
    text-decoration: underline;
  }
  @media (min-width: $bp-sm) {
    display: none;
  }
}
.fw-search {
  width: 100%;
  position: relative;
  margin-top: 11px;
  &__input {
    width: 100%;
    height: 47px;
    padding: 5px 40px 5px 15px;
    background-color: rgba(0, 0, 0, .1);
    outline: 1px solid hsla(0, 0%, 100%, .2);
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 2px;
    font-size: 14px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    &:focus {
      box-shadow: none;
    }
  }
  &__submit {
    position: absolute;
    right: 5px;
    background-color: transparent;
    height: 100%;
    cursor: pointer;
    font-size: 20px;
  }
  @media (min-width: $bp-sm) {
    display: none;
  }
}